<ul class="nav nav-tabs">
	<li class="nav-item">
    <%= link_to 'Home Page', organisation_path(@organisation), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Admin Dashboard', admin_dashboard_path(@organisation), :class => "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Contributors Request', unapproved_contributors_path(@organisation), :class => "nav-link" %> 
  </li>
  <% if @contributor.admin?%>
	  <li class="nav-item">
	    <%= link_to 'Edit', edit_organisation_path(@organisation), :class => "nav-link active" %> 
	  </li>
	  <li class="nav-item">
	    <%= link_to 'View Contributors', organisation_contributors_path(@organisation), :class => "nav-link" %>
	  </li>
  <% end %>
</ul>

<div class = "container">
  <h1 class = "title" >Editing Organisation</h1>

  <%= render 'form', organisation: @organisation %>
  <%= button_to 'Dissolve the Organisation', @organisation, method: :delete, data: { confirm: 'Are you sure? You are deleting the whole organisation' }, :class => "btn btn-outline-success", :display => "inline" %>
</div>
