<div class = "container">
	<h1><%= @organisation.name %></h1>
	<h1><%= @organisation.description %></h1>
	<h1><%= params[:notice] %></h1>
	<% if signed_in? %>
		<% if Organisation.find(params[:id]).contributors.find_by(user_id: current_user.id).nil? %>
			<%= button_to "Contribute", organisation_contributors_path(params[:id]), method: :post %>
		<% elsif Organisation.find(params[:id]).contributors.find_by(user_id: current_user.id).admin? %>
			<h1> You are Admin </h1>
		<% else %>
			<% @destroy_contributor = Contributor.where(organisation_id: params[:id]). find_by(user_id: current_user.id) %>
			<%= button_to "Contribute", uncontribute_path(@destroy_contributor), method: :delete, class: "btn btn-success" %>
		<% end %> 

		<% if contributor?(@organisation) %>
			<% if true || @contributor.member? -%>
				<div>
					<%= link_to('Create Event', new_organisation_event_path(@organisation)) %>
				</div>
			<% end -%>
			<%= link_to "Admin Dashboard", admin_dashboard_path(@organisation) %>
		<% end %>
	<% end %>

	<%= link_to 'All Organisation', organisations_path %>

	<% if signed_in? %>
		<% if !current_user.follow_organisations.exists?(@organisation.id) %>
			<%= button_to 'Follow', organisation_follow_path(@organisation.id) %>
		<% else %>
			<%= button_to 'Unfollow', organisation_unfollow_path(@organisation.id), method: :delete %>
		<% end %>
	<% end %>

<%= form_for @post, url: [@organisation, @post] do |f| %>
	post post_path
 	<h4>Status:</h4>
 	<%= f.text_area :content %><br>
 	<br>
	<br>
	<%= f.submit %></br>

<% byebug %>

<% @organisation.posts each do |o| %>

		
	<% end %>
<% end %>
	
</div>

