<br>
<h2 align="center"> Your News feed </h2>
<br>
<br>

<div id="container1">

	<% posts = Post.where('organisation_id IN (?) OR user_id IN (?)', current_user.follows.pluck(:organisation_id), current_user.friends.pluck(:id)).order(created_at: :desc)%>


<% if current_user.follows.empty? && current_user.friends.empty? %>

You have not added any friends yet 

<% end %>

<% else %>

	<% posts.each do |p| %>
<% if p.organisation_post == true %>

<div class="card" ">
	<div class="card-row">
	<div class="card-image">
		<img src="<%= p.user.photos%>"/>
	</div>
	<div class="card-name"> <strong> <a href="users/<%= p.user_id %>"><%=  p.user.first_name%><%= p.user.last_name %></a> </strong> </div>
</div>
	<div class="card-content">
  <span class="card-small">posted </span> 
 <%= p.content %> <span class="card-small">in </span> <strong> <%= link_to p.organisation.name, p.organisation%> </strong>
</div>
  <div class="card-date">
    <%=p.created_at.strftime("%B %d %Y, %l:%M%P") %>
  </div>
</div>

<!-- --> 

 <%if p.event_created == true %>
 <div class="card" ">
<div class="card-row">
	<div class="card-image"><img src="<%= p.user.photos%>"/></div>
	<div class="card-name"> <strong> <a href="users/<%= p.user_id %>"> <%= p.user.first_name %><%= p.user.last_name %> </a> </strong> </div>
</div>
	<div class="card-content">
has created an event that you might be interested called
<%= link_to p.organisation.events.name, p.organisation.events %>
  <span class="card-small"> in </span>
  <strong> <%= link_to p.organisation.name , p.organisation%> </strong> 
</div>
  <div class="card-date">
    <%=p.created_at.strftime("%B %d %Y, %l:%M%P") %>
  </div>
</div>
<!-- --> 

 <%if p.event_join == true %>
 <div class="card" ">
	<div class="card-image"><img src="<%= p.user.photos%>"/></div>
	<div class="card-name"> <strong> <a href="users/<%= p.user_id %>"> <%= p.user.first_name %><%= p.user.last_name %> </a></strong> </div>
	<div class="card-content">

has joined an even called
<%= link_to p.organisation.events.name, p.organisation.events %>
 <span class="card-small"> in </span>
 <strong> <%= link_to p.organisation.name , p.organisation %> </strong>
</div>
 <div class="card-date">
    <%=p.created_at.strftime("%B %d %Y, %l:%M%P") %>
  </div>
</div>

<% end %>
<% end %>
<% end %>
<% end %>

 </div>




