<h2>My Profile</h2>
<br>


<%if signed_in?%>
	
	<div class="level_indicator">
		<%= current_user.level %>
	</div>
	<% if current_user.photos.file.nil? == false %>
		<%= image_tag current_user.photos.petite.url, :class=>"img-circular"%>
	<% end %>
<br>
	<div class="name_indicator">
		<%= current_user.first_name %> <%= current_user.last_name %>
	</div>
<br>
<br>
	<%if current_user.level == 1%>
		
		<div class="container">
		  <div class="progress">
		    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%current_user.points%>" aria-valuemin="0" aria-valuemax="100" style="width:<%=current_user.points%>%">
		      <%=current_user.points%>% Complete
		    </div>
		  </div>
		</div>

	<%elsif current_user.level == 2%>

		<div class="container">
		  <div class="progress">
		    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%current_user.points%>" aria-valuemin="100" aria-valuemax="200" style="width:<%(current_user.points)-100%>%">
		      <%=current_user.points-100%>% Complete
		    </div>
		  </div>
		</div>

	<% elsif current_user.level == 3%>
		
		<div class="container">
		  <div class="progress">
		    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%current_user.points%>" aria-valuemin="200" aria-valuemax="300" style="width:<%(current_user.points)-200%>%">
		      <%=current_user.points-200%>% Complete
		    </div>
		  </div>
		</div>

	<%end%>
<%end%>
	


<br>
Name: <%= current_user.first_name %> <%= current_user.last_name %>
<br>
Email: <%= current_user.email %>

<hr>
<hr>
<br>
<br>
<h4>Friends</h4>
<% if !current_user.friends.empty? %>
	<% current_user.friends.each do |x| %>
		<strong>Name:</strong> <%= x.first_name %> <%= x.last_name %>
	<% end %>		
<% end %>
	<br>

<hr>
<hr>


<br>
<br>
<h4>Pending Friend Requests</h4>

<% current_user.friendships.each do |x| %>

	<% if x.approved == false %>
		<% a = User.find_by(id: x.friend_id) %>
		<strong>Name:</strong> <%= a.first_name %> <%= a.last_name %>
		<br>
		Request sent at: <%= a.created_at.to_date %>	
	<% end %>
	<br>

<% end %>
 
<hr>
<hr>


<br>
<br>
<h4>Be-Friend Requests</h4>

<% if !current_user.inverse_friendships.empty? %>

		<% current_user.inverse_friendships.each do |t| %>
			<% if t.approved == false%>
			<% @c = current_user.inverse_friends.find_by(id: t.user_id) %>
			<%= @c.first_name %> <%= @c.last_name %>
			<br>
			Requested on: <%= @c.created_at.to_date %>

			<br>
			<%= link_to "Approve Friendship", approve_friendship_path(@c.id), method: :post %>
			<br>	
			<%= link_to "Deny Friendship", destroy_friendship_path(@c.id), method: :post %>
		<%end%>

	<%end%>

<% else %>

	No one new wants to be friends with you


<%end%>

<hr>
<hr>
