<h3>Saya Profile</h3>
Name: <%= current_user.first_name %> <%= current_user.last_name %>
Email: <%= current_user.email %>


<!-- ############################################# -->
<h4>Be-Friend Requests</h4>

<% if !current_user.inverse_friends.empty? %>
	<% current_user.inverse_friends.each do |inverse_friend| %>
		Name: <%= inverse_friend.first_name %> <%= inverse_friend.last_name %>
		<br>
		Requested on: <%= inverse_friend.created_at.to_date %>
		<br>
		<%= link_to "Approve Friendship", method: :post %>
		
	<% end %>
<% else %>
	No one wants to be friends with this user
<% end %>
<hr>
<hr>
<!-- ############################################# -->