<div id="container">
<br>
<% x = User.find_by(id: params[:id]) %>
<br>
<h3 align="center"><%= x.first_name %> <%= x.last_name %>'s Profile</h3>
<br>
<% if x.photos.file.nil? == false %>
<div class="circular-image1">
	<%= image_tag x.photos.url%>
	</div>
<% end %>
<hr>
<h4> Info </h4>
Email: <%= x.email %>
<hr>
<hr>
<% if (current_user.friendships.find_by(friend_id: x.id).nil?) %>
	<%= link_to "Add Friend", create_friendships_path(x), method: :post  %>
<%elsif current_user.friendships.find_by(friend_id: x.id).approved == false%>
	Your friend request has been sent
<%elsif current_user.friends.includes(x)%>
	You are already friends with this person
<% end %>
<hr>
<hr>


<h4>Friends</h4>
<% if !x.friends.empty? %>
	<% x.friends.each do |friend| %>
		Name: <%= friend.first_name %> <%= friend.last_name %>
		<br>
	<% end %>
<%else%>
	This User has no friends
<% end%>

</div>