<div class="container half-white" style ="height:100%; padding-bottom:15px;" >
	<h1 class="title">Profile</h1>
	<div class="row">		
		<div class = "col-4">
			<% if @user.photos.url.nil? %>
				<div class="circular-image">
					<%= image_tag "/assets/no-img.png" %>
				</div>
			<% else %>
				<div class="circular-image">
					<%= image_tag @user.photos.thumb.url  %>
				</div>
			<% end %>		
		</div>
		
		<div class = "col-8">
			<div class = "row container" style="margin-left:5px; ">
				<div class="col-5 name_indicator">
					<%= @user.first_name %> <%= @user.last_name %>
				</div>
				
				<div class="col-1 level_indicator">
					<%= @user.level %>
				</div>
			</div>
			
			<div class="container">
			  <div class="progress">
			    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%@points%>" aria-valuemin="0" aria-valuemax="100" style="width:<%=@user.points%>%">
			      <%=@points%>% Complete
			    </div>
			  </div>
			  <h5 style="padding-top:5px;">Email: <%= @user.email %></h5>
				<h5>Name:<%= @user.first_name %> <%= @user.last_name%></h5>
				<% if @user.id != current_user.id %>
					<% if (@user.friendships.find_by(friend_id: @user.id).nil?) %>
						<%= link_to "Add Friend", create_friendships_path(@user), method: :post, :class=> "btn btn-outline-success" %>
					<%elsif @user.friendships.find_by(friend_id: @user.id).approved == false%>
						Your friend request has been sent
					<%elsif @user.friends.includes(@user)%>
						You are already friends with this person
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="container">

		<h1 class="title" >Friends</h1>
		<% if !@user.friends.empty? %>
			<% @user.friends.each_slice(3) do |t| %>
				<div class = "row">
					<% t.each do |a| %>
						<div class = "col">
							<div class="card" style="width:300px; padding: 10px;">
								<% if a.photos.url.nil? %>
									<%= image_tag "/assets/no-img.png", :class => "card-img-top" %>
								<% else %>
									<%= image_tag a.photos.url, :class => "card-img-top" %>
								<% end %>
							  <div class="card-body">
							    <h4 class="card-title" > <%= a.first_name.capitalize + " " + a.last_name %></h4>
							    <p class="card-text">Level: <%= a.level %></p>
									<%= link_to "See Profile", users_show_path(a), :class=> "btn btn-outline-success" %>
							  </div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		<%else%>
			This User has no friends
		<% end%>
		

		<% if @status %>
			<% if !@user.friendships.length == 0 %>
				<h1 class ="title">Pending Friend Requests</h1>

				<% @user.friendships.each do |t| %>

					<% if t.approved == false %>
						<% a = User.find_by(id: t.friend_id) %>
						<strong>Name:</strong> <%= a.first_name %> <%= a.last_name %>
						
						Request sent at: <%= a.created_at.to_date %>
					<% end %>
				<% end %>
			<% end %>
		 

			<% if @user.inverse_friendships.empty? %>
				<h1 class="title">Be-Friend Requests</h1>

				<% if !@user.inverse_friendships.empty? %>
					<% @user.inverse_friendships.each do |t| %>
						<% if t.approved == false%>
						<% @c = @user.inverse_friends.find_by(id: t.user_id) %>
						<%= @c.first_name %> <%= @c.last_name %>
						
						Requested on: <%= @c.created_at.to_date %>

						
						<%= link_to "Approve Friendship", approve_friendship_path(@c.id), method: :post %>
							
						<%= link_to "Deny Friendship", destroy_friendship_path(@c.id), method: :post %>
						<%end%>
					<%end%>
				<% else %>
				You have no friends request
				<%end%>
			<% end %>
		<%end%>
	</div>
</div>








