<style>
  /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
  #map {
    width: 100%;
    height: 400px;
  }
  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
</style>

<script src='/googlemaps.js'></script>

<%= form_with(model: event, local: true, url: [@organisation, @event]) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text_field">
    <%= form.label :name %>
    <%= form.text_field :name, type: "text" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :event_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :event_end_date %>
  </div>

  <div class="photos-field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true %>
  </div>

  <%= form.hidden_field :address, id: "address" %>
  <%= form.hidden_field :city, id: "city" %>
  <%= form.hidden_field :postcode, id: "postcode" %>
  <%= form.hidden_field :longitude, id: "longitude" %>
  <%= form.hidden_field :latitude, id: "latitude" %>
  
  <div id="google_map_entry">
    <div class="pac-card" id="pac-card">
      <div id="title">
        Address
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text" placeholder="Enter a location">
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
  
  <%= form.hidden_field(:organisation_id, :value => params[:organisation_id]) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
