<%= link_to "Organisation Home", organisation_path(params[:organisation_id]) %>
<%= link_to "unapproved_contributors", unapproved_contributors_path(params[:organisation_id]) %>

<div class = "container">
	<table class="table">
	  <thead>
	    <tr>
	      <th>First name</th>
	      <th>Last name</th>
	      <th>Email</th>
	      <th>Role</th>
	    </tr>
	  </thead>
		
		<tbody>
		  <% @contributors.each do |t| %>
		  	<% @destroy_contributor = t%>
		  	<% user = @contributor.user %>
		    <tr>
		      <td><%= user.first_name %></td>
		      <td><%= user.last_name %></td>
		      <td><%= user.email %></td>
		      <td><%= t.role %></td>
		      <% if !t.admin? %>
		      	<td><%= button_to "Delete Contributor", uncontribute_path(@destroy_contributor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      	<% end %>
		    </tr>
	    <% end %>
	  </tbody>
	</table>
</div>

