<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>
    <% navbar_id = 'navbarNav' # To conlidate the id %>
    <nav class="navbar fixed-top navbar-toggleable-md">
      <%= link_to('Jomhelp', root_path, class: 'navbar-brand') %>

      <div class="navbar-collapse" id="<%= navbar_id %>">
        <ul class="navbar-nav mr-auto">

          <% if signed_in? %>
            <% links = {
              Profile: profile_path,
              Events: events_path,
              Organisations: organisations_path,
            } %>
          <% else %>
            <% links = {
              Events: events_path,
              Organisations: organisations_path,
            } %>
          <% end %>
          <% links.each do |body, link| %>

            <% isCurrent = current_page?(link) %>
            <li class="<%= (isCurrent) ? 'nav-link active' : 'nav-link' %>">
              <%= link_to(link, class: 'nav-link') do -%>
                <%= raw body %><% if isCurrent %> <span class="sr-only">(current)</span><% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <form class="input-group form-inline" action="<%= searches_path %>" method="get">
          <!--<select class="selectpicker form-control" name="type">
            <option>General</option>
            <option>Location</option>
          </select>-->
          <input type="text" class="form-control col-sm-4" name="q" placeholder="" value="<%= params[:q] %>">
          <span class="input-group-btn">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
          </span>
        </form>
      </div>
      <div class="btn-toolbar">
        <%if signed_in? -%>
          <!-- Logged in as --> <%#= current_user.first_name %> <%#= current_user.last_name %>
          <%= button_to("Sign Out", sign_out_path, method: :delete, class: 'btn btn-warning') %>
        <% else -%>
          <% if !current_page?(sign_in_path) -%>
            <%= button_to("Sign In", sign_in_path, method: :get, class: 'btn btn-info') %>
          <% end -%>
          <% if !current_page?(sign_up_path) -%>
            <%= button_to("Sign up", sign_up_path, method: :get, class: 'btn btn-primary') %>
          <% end -%>
        <% end -%>
      </div>
    </nav>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>
  </header>
  
  <section>
    <%= yield %>
  </section>
</body>
</html>
 